---
import { Picture } from "@astrojs/image/components";
import Card from "@components/Card.astro";
import CloudBanner from "@components/CloudBanner.astro";
import DecoratedAvatar from "@components/DecoratedAvatar.astro";
import Link from "@components/Link.astro";
import NimoBeeren from "@components/NimoBeeren.astro";
import ProjectImage from "@components/ProjectImage.astro";
import ArrowRightIcon from "@icons/ArrowRight.astro";
import GitHubIcon from "@icons/GitHub.astro";
import LinkedInIcon from "@icons/LinkedIn.astro";
import XIcon from "@icons/X.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { projects, ProjectType } from "../data/projects";

const featuredProjects = projects
  .filter((project) => project.featured)
  .sort((a, b) => Number(a.date) - Number(b.date));
---

<BaseLayout title="Nimo Beeren">
  <main class="mx-auto max-w-[1056px] font-medium text-neutral-700 sm:pt-8">
    <header>
      <div
        class="mx-auto flex flex-col-reverse items-start justify-between gap-8 gap-y-4 px-6 sm:flex-row sm:items-end sm:px-4 md:gap-12 md:px-8 lg:gap-16 lg:px-0"
      >
        <NimoBeeren />
        <div class="flex grow sm:basis-48 sm:justify-end">
          <DecoratedAvatar />
        </div>
      </div>
      <ul
        class="relative z-10 mt-2 -ml-2 flex px-6 text-neutral-600 sm:px-4 md:px-8 lg:px-0"
        aria-label="socials"
      >
        <li class="rounded-2xl ring-sky-300 transition focus-within:ring-4">
          <a
            href="https://github.com/nimobeeren/"
            class="transition hover:text-sky-600 focus:outline-none active:text-sky-800"
          >
            <GitHubIcon class="w-12 h-12 p-2 sm:w-16 sm:h-16 sm:p-2.5" />
          </a>
        </li>
        <li class="rounded-2xl ring-sky-300 transition focus-within:ring-4">
          <a
            href="https://www.linkedin.com/in/nimo-beeren/"
            class="transition hover:text-sky-600 focus:outline-none active:text-sky-800"
          >
            <LinkedInIcon class="w-12 h-12 p-2 sm:w-16 sm:h-16 sm:p-2.5" />
          </a>
        </li>
        <li class="rounded-2xl ring-sky-300 transition focus-within:ring-4">
          <a
            href="https://x.com/nimobeeren/"
            class="transition hover:text-sky-600 focus:outline-none active:text-sky-800"
          >
            <XIcon class="w-12 h-12 p-2 sm:w-16 sm:h-16 sm:p-2.5" />
          </a>
        </li>
      </ul>

      <div class="mt-40 flex flex-col items-center">
        <CloudBanner>
          <div
            class="flex min-h-[180px] max-w-[650px] flex-col justify-center gap-4 px-6 text-2xl leading-snug sm:px-4 sm:text-3xl sm:leading-normal md:px-8 lg:px-0"
          >
            <p>Hi there! 👋</p>
            <p>
              I'm a software engineer from The Netherlands. I build tools that
              help people use data, code and AI to create great things.
            </p>
          </div>
        </CloudBanner>
      </div>
    </header>

    <section
      aria-labelledby="projects"
      class="mx-auto mt-24 flex flex-col items-center sm:mt-32"
    >
      <h2
        id="projects"
        class="font-serif text-5xl font-normal text-neutral-800 drop-shadow sm:text-6xl"
      >
        Projects
      </h2>
      <ul
        class="mt-12 flex max-w-full flex-wrap justify-center gap-12 sm:mt-16"
      >
        {
          featuredProjects.map((project) => (
            <Card
              type={ProjectType[project.type]}
              title={project.title}
              body={project.body || ""}
              date={project.date}
              url={project.url}
            >
              <ProjectImage
                image={project.image}
                emoji={project.emoji}
                alt={project.alt}
              />
            </Card>
          ))
        }
      </ul>
      <a
        class="mt-10 gap-2 rounded-2xl px-2 text-2xl leading-none text-sky-600 ring-sky-300 drop-shadow-sm transition focus:outline-none focus:ring-4 active:text-sky-800 sm:mt-14 sm:py-1 sm:text-3xl"
        href="/projects"
      >
        <div
          class="relative flex items-center justify-center gap-2 py-2 after:absolute after:inset-0 after:right-full after:block after:border-b-2 after:border-sky-300 hover:after:right-0 motion-safe:after:transition-all motion-safe:after:duration-300 sm:py-1"
        >
          <span>See more</span>
          <ArrowRightIcon class="w-6 h-6 sm:w-[30px] sm:h-[30px] stroke-2" />
        </div>
      </a>
    </section>

    <section class="mt-28 flex justify-center">
      <div
        class="mx-auto flex flex-col items-center gap-4 rounded-2xl bg-white py-8 px-8 shadow-xl sm:flex-row sm:gap-8 md:relative md:gap-0 md:pr-16 md:pl-32 lg:h-64 lg:pl-40 xl:h-80 xl:pl-48"
      >
        <div
          class="top-8 shrink-0 md:absolute md:-left-16 lg:-left-24 xl:-left-32"
        >
          <Picture
            class="rounded-full shadow-lg md:shadow-xl lg:shadow-2xl"
            src="/me.jpg"
            alt="Nimo smiling at the camera"
            sizes="(max-width: 1023.9px) 128px, (min-width: 1024px) and (max-width: 1279.9px) 192px, (min-width: 1280px) 256px"
            widths={[128, 192, 192 * 2, 256, 256 * 2]}
            aspectRatio="1:1"
          />
        </div>
        <div
          class="flex flex-col items-center text-center text-lg sm:text-left sm:text-2xl lg:text-3xl xl:text-4xl"
        >
          <p class="w-full text-sky-700 sm:text-sky-600">
            I'm always happy to talk!
          </p>
          <p class="w-full text-neutral-700 lg:mt-2">Let's have a chat.</p>
          <a
            class="mt-4 inline-flex items-center gap-3 rounded-2xl bg-sky-600 px-4 py-2.5 text-base leading-none text-white shadow ring-sky-900 transition hover:bg-sky-700 focus:outline-none focus:ring-4 active:bg-sky-800 sm:text-lg sm:leading-none lg:mt-6 lg:rounded-3xl lg:px-6 lg:py-3.5 lg:text-2xl lg:leading-none xl:mt-8"
            href="mailto:nimobeeren@gmail.com"
          >
            <span
              aria-label="envelope"
              class="text-xl leading-none sm:text-2xl sm:leading-none lg:text-3xl lg:leading-none"
              >✉️</span
            >
            <span>Email me</span>
          </a>
        </div>
      </div>
    </section>

    <section
      aria-labelledby="about"
      class="mx-auto mt-32 flex flex-col items-center"
    >
      <h2
        id="about"
        class="font-serif text-5xl font-normal text-neutral-800 drop-shadow sm:text-6xl"
      >
        About me
      </h2>
      <div
        class="mt-12 flex max-w-[40ch] flex-col gap-4 text-xl leading-normal sm:mt-16 sm:text-2xl sm:leading-relaxed"
      >
        <p>
          I sit at the intersection of software engineering, data science, and
          creative programming. As a generalist, I'm able to choose the right
          tool from a wide domain, spanning from machine learning to data
          visualization, and from efficient algorithms to statistical methods.
          I'm always looking for ways to increase the quality of my work and
          make better informed decisions. My work is continuously guided by the
          needs and wants of people, and I aim to help them achieve bigger and
          better things.
        </p>
        <p class="line-clamp-3">
          To kick-start my professional career, I joined <Link
            href="https://deity.io/">Deity</Link
          > in 2019, where I learned about all the wonders of the web. I learned
          React, which empowered me to build any UI we needed. I enjoyed building
          complex components with a focus on interactivity and responsiveness. Through
          building out our GraphQL API, I realized how graphs and schemas made development
          so much faster and more robust, especially in combination with TypeScript.
        </p>
      </div>
      <a
        class="mt-10 gap-2 rounded-2xl px-2 text-2xl leading-none text-sky-600 ring-sky-300 drop-shadow-sm transition focus:outline-none focus:ring-4 active:text-sky-800 sm:mt-14 sm:py-1 sm:text-3xl"
        href="/blog/about-me"
      >
        <div
          class="relative flex items-center justify-center gap-2 py-2 after:absolute after:inset-0 after:right-full after:block after:border-b-2 after:border-sky-300 hover:after:right-0 motion-safe:after:transition-all motion-safe:after:duration-300 sm:py-1"
        >
          <span>Read more</span>
          <ArrowRightIcon class="w-6 h-6 sm:w-[30px] sm:h-[30px] stroke-2" />
        </div>
      </a>
    </section>
  </main>
</BaseLayout>
