---
import Card from "@components/Card.astro";
import meImage from "@images/me.webp";
import thesisImage from "@images/thesis.webp";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Nimo Beeren">
  <main class="mx-auto max-w-screen-xl font-medium text-neutral-700">
    <div class="mx-auto flex max-w-[1056px] items-end justify-between gap-16">
      <div class="whitespace-nowrap border-b-4 border-b-sky-300">
        <h1
          class="inline-block font-serif text-8xl font-normal text-neutral-800"
        >
          Nimo<br />Beeren
        </h1>
        <p class="ml-8 inline-block text-xl leading-none" aria-label="pronouns">
          he/him
        </p>
      </div>
      <div>
        <img
          src={meImage}
          class="rounded-full drop-shadow-[0_0_128px_theme(colors.sky.300)]"
        />
      </div>
    </div>

    <header
      class="mx-auto mt-32 flex max-w-[624px] flex-col gap-4 text-3xl leading-normal"
    >
      <p>Hi there! 👋</p>
      <p>
        I'm a software engineer based in Eindhoven. I build tools that help
        people use data, code and science to create great things.
      </p>
    </header>

    <section class="mx-auto mt-40 flex flex-col items-center">
      <h2 class="font-serif text-6xl font-normal text-neutral-800">Projects</h2>
      <ul class="mt-16 flex max-w-full flex-wrap justify-center gap-12">
        <Card
          type="Thesis"
          title="Property Graph Schemas"
          body="This is my master's thesis about formal specification and practical validation of property graph schemas."
          date={new Date("2022-10-16")}
          href="https://github.com/nimobeeren/thesis/raw/main/docs/thesis.pdf"
        >
          <img src={thesisImage} />
        </Card>
        <Card
          type="Paper"
          title="Visual Property Graph Schema Design"
          body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in arcu in justo condimentum consequat. Duis at mi lacinia, consequat tortor."
          date={new Date("2022-01-10")}
          href="https://github.com/nimobeeren/thesis/raw/main/docs/thesis.pdf"
        >
          <img src={thesisImage} />
        </Card>
        <Card
          type="Tool"
          title="WebTeX"
          body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in arcu in justo condimentum consequat. Duis at mi lacinia, consequat tortor."
          date={new Date("2021-12-09")}
          href="https://github.com/nimobeeren/thesis/raw/main/docs/thesis.pdf"
        >
          <img src={thesisImage} />
        </Card>
        <Card
          type="Game"
          title="DM-Guessr"
          body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in arcu in justo condimentum consequat. Duis at mi lacinia, consequat tortor."
          date={new Date("2021-05-11")}
          href="https://github.com/nimobeeren/thesis/raw/main/docs/thesis.pdf"
        >
          <img src={thesisImage} />
        </Card>
        <Card
          type="Visualization"
          title="Load Balancing Algorithms"
          body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in arcu in justo condimentum consequat. Duis at mi lacinia, consequat tortor."
          date={new Date("2020-11-02")}
          href="https://github.com/nimobeeren/thesis/raw/main/docs/thesis.pdf"
        >
          <img src={thesisImage} />
        </Card>
        <Card
          type="Tool"
          title="css2js"
          body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in arcu in justo condimentum consequat. Duis at mi lacinia, consequat tortor."
          date={new Date("2020-01-10")}
          href="https://github.com/nimobeeren/thesis/raw/main/docs/thesis.pdf"
        >
          <img src={thesisImage} />
        </Card>
      </ul>
      <a
        class="mt-16 flex items-center justify-center gap-2 text-3xl leading-none text-sky-700"
        href="/projects"
        ><div>See more</div>
        <Icon pack="heroicons-solid" name="arrow-right" size={30} />
      </a>
    </section>

    <section class="mx-auto mt-40 flex max-w-[80ch] flex-col items-center">
      <h2 class="font-serif text-6xl font-normal text-neutral-800">About me</h2>
      <div class="mt-16 flex flex-col gap-4 text-3xl leading-normal">
        <p>
          During my master's on computer science & engineering at TU/e I learned
          to do independent research, becoming fluent in the academic language.
          This skill was very valuable to me, because it gave me access to the
          cutting edge of technology. I could apply it in new ways, and create
          things nobody had tried before.
        </p>
        <p class="line-clamp-3">
          In the final year of my studies, I found a compelling subject in graph
          databases. I like how they let you structure your data in any way you
          like, free from technical distractions. But if we want to have good
          reliability, usability and peformance, it can be incredibly useful to
          set some limits on this structure. But it turned out that this was not
          very well supported, even at a theoretical level. So I decided to
          write a thesis about it.
        </p>
      </div>
      <a
        class="mt-16 flex items-center justify-center gap-2 text-3xl leading-none text-sky-700"
        href="/about"
        ><div>Read more</div>
        <Icon pack="heroicons-solid" name="arrow-right" size={30} />
      </a>
    </section>

    <section class="mt-40 flex justify-center">
      <div
        class="mx-auto flex items-center gap-12 border-b-4 border-b-sky-300 bg-sky-100 py-8 px-12"
      >
        <img src={meImage} width="192" class="rounded-full" />
        <div class="flex flex-col items-center gap-6">
          <p class="text-3xl text-sky-700">I'm looking for new challenges!</p>
          <a
            class="flex items-center gap-4 rounded-3xl bg-sky-600 px-12 py-5 text-2xl leading-none text-white"
            href="mailto:nimobeern@gmail.com"
            >Send me an email<span
              aria-label="envelope"
              class="text-3xl leading-none">✉️</span
            >
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
