---
import Card from "@components/Card.astro";
import ProjectImage from "@components/ProjectImage.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { projects, ProjectType } from "../data/projects";

const sortedProjects = projects.sort((a, b) => Number(a.date) - Number(b.date));
---

<BaseLayout title="Nimo's Projects">
  <main class="mx-auto max-w-[1424px] font-medium text-neutral-700">
    <h1
      class="mx-auto text-center font-serif text-6xl text-neutral-800 drop-shadow sm:text-7xl md:text-left"
    >
      Projects
    </h1>
    <fieldset
      class="mt-8 flex items-center gap-4"
      aria-labelledby="filters-label"
    >
      <span
        id="filters-label"
        class="text-xl font-bold uppercase tracking-wider text-neutral-600"
        >Filters</span
      >
      <div class="flex flex-wrap gap-2">
        {
          Object.values(ProjectType)
            .sort()
            .map((projectType) => (
              <div>
                <input
                  type="checkbox"
                  id={`project-type-option-${projectType}`}
                  name={projectType}
                  class="project-type-option peer sr-only"
                />
                <label
                  for={`project-type-option-${projectType}`}
                  class="block rounded-2xl bg-sky-200 py-1 px-3 text-2xl text-sky-800 shadow transition hover:bg-sky-300 peer-checked:bg-sky-700 peer-checked:text-white peer-checked:shadow-md peer-focus:ring-4"
                >
                  {projectType}
                </label>
              </div>
            ))
        }
      </div>
    </fieldset>
    <ul
      class="mt-12 flex flex-col items-center gap-12 sm:mt-16 md:mt-20 md:flex-row md:flex-wrap md:items-stretch"
    >
      {
        sortedProjects.map((project) => (
          <Card
            type={ProjectType[project.type]}
            title={project.title}
            body={project.body}
            date={project.date}
            url={project.url}
          >
            <ProjectImage
              image={project.image}
              emoji={project.emoji}
              alt={project.alt}
            />
          </Card>
        ))
      }
    </ul>
  </main>
</BaseLayout>

<script>
  const projectTypeOptions = document.querySelectorAll<HTMLInputElement>(
    "input.project-type-option"
  );

  function filterProjects() {
    // Get the list of project types to be shown
    let selectedProjectTypes = [];
    for (let option of projectTypeOptions) {
      if (option.checked) {
        selectedProjectTypes.push(option.name);
      }
    }
    // FIXME: selectedProjectTypes is always empty on load, even though some options may be checked after a back navigation

    // Hide or show projects depending on their type
    const projectCards = document.querySelectorAll<HTMLElement>(".card");
    for (let projectCard of projectCards) {
      const projectType = projectCard
        .querySelector(".card-type")
        ?.textContent?.trim();
      if (
        selectedProjectTypes.length === 0 ||
        (projectType && selectedProjectTypes.includes(projectType))
      ) {
        projectCard.style.display = "block";
      } else {
        projectCard.style.display = "none";
      }
    }
  }

  filterProjects();

  for (let option of projectTypeOptions) {
    option.addEventListener("change", () => {
      filterProjects();
    });
  }
</script>
