---
import Card from "@components/Card.astro";
import ProjectImage from "@components/ProjectImage.astro";
import Layout from "@layouts/Layout.astro";
import { projects } from "../data/projects";

const sortedProjects = projects.sort((a, b) => Number(a.date) - Number(b.date));
---

<Layout title="Nimo's Projects">
  <main class="mx-auto max-w-[1424px] font-medium text-neutral-700">
    <h1 class="mx-auto font-serif text-7xl text-neutral-800">Projects</h1>
    <ul class="mt-16 flex flex-wrap gap-12">
      {
        sortedProjects.map((project) => (
          <Card
            type={project.type}
            title={project.title}
            body={project.body}
            date={project.date}
            url={project.url}
          >
            <ProjectImage
              image={project.image}
              imageAlt={project.imageAlt}
              title={project.title}
              url={project.url}
            />
          </Card>
        ))
      }
    </ul>
  </main>
</Layout>
